Ejemplos

In [25]:
import numpy as np
import math

# Sistema A
A = np.array([[-9, 4],
              [16, -7]])
b = np.array([20, 80])

x, y = np.linalg.solve(A, b)
print(x, y)

# Verificación (debe dar True)
print(math.isclose(-9*x + 4*y, 20))
print(math.isclose(16*x - 7*y, 80))

460.0 1040.0
True
True

In [26]:
import math
import numpy.linalg as linalg

a = np.array([ [-9,4], [16,-7] ])
b = np.array([20,80])

print(a)
print(b)
x,y = linalg.solve(a,b)
print(f'x={x} y={y}')

print(math.isclose(-9*x + 4*y, 20))
print(math.isclose(16*x - 7*y, 80))

A2 = np.array([[1, -2, 3], [2, 1, 1], [-3, 2, -2]])
b2 = np.array([7, 4, -10])

x,y,z = np.linalg.solve(A2, b2)
print(f'x={x} y={y} z={z}')

print(math.isclose(+1*x-2*y+3*z,7))
print(math.isclose(2*x+1*y+z,4))
print(math.isclose(-3*x+2*y-2*z,-10))

[[-9  4]
 [16 -7]]
[20 80]
x=460.0 y=1040.0
True
True
x=2.0 y=-0.9999999999999998 z=1.0000000000000002
True
True
True

In [28]:
import numpy as np

def verificar_A(x, y):
    return (-9*x + 4*y, 16*x - 7*y)

A = np.array([[-9, 4],
              [16, -7]])
b = np.array([20, 80])

x, y = np.linalg.solve(A, b)

print(f"Solución: x={x:.4f}, y={y:.4f}")
izq1, izq2 = verificar_A(x, y)
print("Comprobación:", izq1, "≈ 20 y", izq2, "≈ 80")

Solución: x=460.0000, y=1040.0000
Comprobación: 20.0 ≈ 20 y 80.0 ≈ 80

In [14]:
import pandas as pd

s = pd.Series([1, 2.5, "hola", True, 99, "AI", 0.1, False, "Python", 7],
              index=list("abcdefghij"))

# Por posición: elementos 2,3,4,5 (4 elementos)
parte_iloc = s.iloc[2:6]

# Por etiqueta: desde 'c' hasta 'f' (incluye 'f')
parte_loc = s.loc["c":"f"]

print(parte_iloc)
print(parte_loc)

print("¿Son iguales?", parte_iloc.equals(parte_loc))

c    hola
d    True
e      99
f      AI
dtype: object
c    hola
d    True
e      99
f      AI
dtype: object
¿Son iguales? True

In [13]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(0, 21, size=(10, 10)))

# Reemplazar < 5 por NaN
df = df.mask(df < 5, np.nan)

# Contar NaN por fila
nans_por_fila = df.isna().sum(axis=1)

print(df)
print("\nNaN por fila:")
print(nans_por_fila)

      0     1     2     3     4     5     6     7     8     9
0  10.0  11.0   NaN   NaN   7.0   9.0   7.0  20.0  17.0   9.0
1   NaN   NaN   6.0  10.0  18.0   NaN  11.0   7.0   NaN   6.0
2  10.0  13.0   9.0   NaN   6.0   NaN  10.0   5.0  17.0  20.0
3  10.0   NaN   NaN  13.0   5.0   8.0   5.0   NaN   NaN   9.0
4  15.0   NaN   8.0  10.0  10.0   8.0  10.0   NaN   NaN   NaN
5  13.0  18.0   6.0  13.0   NaN   NaN  13.0  15.0  13.0   NaN
6   NaN  18.0   NaN  10.0   NaN  17.0  16.0   NaN   5.0  14.0
7   NaN  15.0  17.0  13.0  12.0  11.0   NaN   6.0  19.0   NaN
8  20.0  20.0  19.0  17.0   5.0  19.0  11.0   NaN  19.0  10.0
9  16.0  14.0  19.0   6.0  14.0   5.0  13.0  12.0   7.0  12.0

NaN por fila:
0    2
1    4
2    2
3    4
4    4
5    3
6    4
7    3
8    1
9    0
dtype: int64

In [12]:
import numpy as np

A = np.array([[4,2],
              [1,3]])

valores, vectores = np.linalg.eig(A)

print("Valores propios:", valores)
print("Vectores propios:\n", vectores)

Valores propios: [5. 2.]
Vectores propios:
 [[ 0.89442719 -0.70710678]
 [ 0.4472136   0.70710678]]

In [17]:
v = vectores[:,0]      # primer vector propio
lam = valores[0]      # primer valor propio

print(A @ v)
print(lam * v)

[-6.26099034 11.18033989]
[4.47213595 2.23606798]

In [18]:
import numpy as np

A = np.array([[3,1],
              [1,3]])

vals, vecs = np.linalg.eig(A)

for i in range(len(vals)):
    v = vecs[:,i]
    lam = vals[i]

    izquierda = A @ v
    derecha = lam * v

    print(f"\nEigenvalor {i+1}:", lam)
    print("Av =", izquierda)
    print("λv =", derecha)

Eigenvalor 1: 4.0
Av = [2.82842712 2.82842712]
λv = [2.82842712 2.82842712]

Eigenvalor 2: 2.0
Av = [-1.41421356  1.41421356]
λv = [-1.41421356  1.41421356]

In [9]:
import pandas as pd
import numpy as np
serie = ['a','b','c','a','c','a','g']
expected_output = pd.DataFrame(['a','b','c','g'])
output = remove_duplicates(serie)   
display(output)
display(expected_output)
assert(expected_output.equals(output))

   0
0  a
1  b
2  c
3  g

   0
0  a
1  b
2  c
3  g

In [8]:
def remove_duplicates(lista):
    return pd.DataFrame(np.unique(lista))

In [10]:
def remove_duplicates(lista):
  noduplis=list(set(lista))
  df=frame=pd.DataFrame(noduplis, columns=['elementos'])
  return df

In [11]:
def remove_duplicates(lista):
  unicos = list(dict.fromkeys(lista))
  return pd.DataFrame(unicos)

In [ ]:
import pandas as pd

def remove_duplicates(lista):
    unicos = list(dict.fromkeys(lista))   
    return pd.DataFrame(unicos)

In [22]:
def remove_duplicatese(lista):
    return pd.DataFrame(list(dict.fromkeys(lista)))

In [23]:
serie = ['a','b','c','a','c','a','g']
print(remove_duplicatese(serie))

   0
0  a
1  b
2  c
3  g